{%extends 'layout.html'%}

{%block content%}

    <div class="listBox">
        <h1>原生JS中，typeof关键字详解</h1>
        <p class="colDefault">
            作者：<span class="colInfo">admin</span>
            时间：<span class="colInfo">2017-05-06 09:45:02</span>
            阅读：<span class="colInfo">256</span>
            评论：<span class="colInfo">23</span>
        </p>
        <dfn>原生JS里，怎么判断数据类型呢？</dfn>
        <div class="function"><a href="">阅读全文</a></div>
    </div>

    <div class="pager">
        <ul class="clear">
            <li class="previous">
                <span>没有上一页了</span>
            </li>
            <li>
                <strong>1 / 1</strong>
            </li>
            <li class="next">
                <span>没有下一页了</span>
            </li>
        </ul>
    </div>

{%endblock%}
